@font-face {
  font-family: "Mont-Heavy";
  src: url("/fonts/Mont-Heavy.otf");
}

@font-face {
  font-family: "Mont-Regular";
  src: url("/fonts/Mont-Regular.otf");
}

.main {
  border: none;
  border-bottom: 1px gray solid;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px 5px;
}

.tweetInfos {
  border: none;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 0 5px;
}

.firstName {
  background-color: transparent;
  width: fit-content;
  height: 100%;
  font-family: "Mont-Heavy";
  font-size: 12px;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.username {
  background-color: transparent;
  width: fit-content;
  height: 100%;
  font-family: "Mont-Regular";
  font-size: 10px;
  border: none;
  color: rgb(162, 158, 158);
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  background-color: transparent;
  width: fit-content;
  height: 100%;
  font-family: "Verdana";
  font-size: 10px;
  border: none;
  color: rgb(162, 158, 158);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  border: none;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 0 5px;
  color: white;
  font-size: 12px;
}

.icons {
  border: none;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 0 5px;
  color: white;
  font-size: 12px;
}

.like:hover {
  cursor: pointer;
}
