.main {
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.content {
  border: none;
  width: 100%;
  height: 70%;
  padding: 2px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputTweet {
  background-color: transparent;
  width: 100%;
  height: 80%;
  font-family: "Verdana";
  font-size: 15px;
  border: none;
  color: white;
  border-bottom: 1px solid rgb(186, 181, 181);
}

.inputTweet::placeholder {
  color: rgb(186, 181, 181);
}

.tweetActions {
  border: none;
  width: 100%;
  height: 30%;
  padding: 2px 2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.check {
  font-size: 12px;
  color: white;
}

.btnTweet {
  width: 80px;
  font-family: "Mont-Heavy";
  border-radius: 15px;
  font-size: 12px;
  background-color: rgb(0, 139, 225);
  color: white;
  border: solid 1px rgb(155, 155, 155);
}

.btnTweet:hover {
  background-color: rgb(62, 170, 238);
  cursor: pointer;
}
